.icon-priority {
    font-size: 20px !important;
}

.color-1 {
color: rgb(16, 56, 16);
}

.color-2 {
color: #eb8c00 !important;
}

.color-3 {
color: #b00020 !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.p-10 {
    padding: 10px !important;
}