<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="task">
      <ion-icon aria-hidden="true" name="documents"></ion-icon>
      <ion-label>Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="project">
      <ion-icon aria-hidden="true" name="albums"></ion-icon>
      <ion-label>Projects</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="timesheet">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Timesheets</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>