<ion-app>
  <ion-content *ngIf="loggedUser$ | async">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start" color="light">
            <ion-menu-button class="c-white"></ion-menu-button>
          </ion-buttons>
          <ion-title>EWM</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-menu-toggle auto-hide="true">
            <ion-item button class="" lines="full" detail="false" routerLink="tabs/home/">
              <ion-icon class="menu-icon" name="home-outline"></ion-icon>
              <ion-label class="menu-label">
                Home
              </ion-label>
            </ion-item>
            <ion-item button class="" lines="full" detail="false" routerLink="tabs/task/">
              <ion-icon class="menu-icon" name="documents-outline"></ion-icon>
              <ion-label class="menu-label">
                Tasks
              </ion-label>
            </ion-item>
            <ion-item button class="" lines="full" detail="false" routerLink="tabs/project/">
              <ion-icon class="menu-icon" name="albums-outline"></ion-icon>
              <ion-label class="menu-label">
                Project
              </ion-label>
            </ion-item>
            <ion-item button class="" lines="full" detail="false" routerLink="tabs/timesheet/">
              <ion-icon class="menu-icon" name="calendar-outline"></ion-icon>
              <ion-label class="menu-label">
                Timesheets
              </ion-label>
            </ion-item>
            <ion-item button class="" lines="full" detail="false" routerLink="tabs/profile">
              <ion-icon class="menu-icon" name="person-outline"></ion-icon>
              <ion-label class="menu-label">
                User profile
              </ion-label>
            </ion-item>
            <ion-item button class="" lines="full" detail="false" (click)="logout()">
              <ion-icon class="menu-icon" name="log-in-outline"></ion-icon>
              <ion-label class="menu-label">
                Sign out
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        
        </ion-list>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>{{title$ | async}}</ion-title>
        </ion-toolbar>
        <ion-toolbar color="light-green" *ngIf="activeTask$ | async as activeTask" class="activeTaskToolbar"
          (click)="openActiveTask(activeTask.id)">
          <ion-title>{{'Active: '}} <ion-icon class="icon-priority color-{{activeTask.priority}}"
              name="warning"></ion-icon> {{'TaskNo ' + activeTask.taskNo}} </ion-title>
        </ion-toolbar>
  
      </ion-header>
      <ion-content class="ion-padding">
        <ion-router-outlet></ion-router-outlet>
      </ion-content>
    </div>
  </ion-content>
  <app-login *ngIf="!(loggedUser$ | async)"></app-login>
</ion-app>