<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start" color="light">
          <ion-menu-button class="c-white"></ion-menu-button>
        </ion-buttons>
        <ion-title>Employee Work Management</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{title$ | async}}</ion-title>
      </ion-toolbar>
      <ion-toolbar color="light-green" *ngIf="activeTask$ | async as activeTask" class="activeTaskToolbar" (click)="openActiveTask(activeTask.id)">
        <ion-title>{{'Active:  '}} <ion-icon class="icon-priority color-{{activeTask.priority}}" name="warning"></ion-icon> {{'TaskNo ' + activeTask.taskNo}} </ion-title>
      </ion-toolbar>
      
    </ion-header>
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>

    </ion-content>
  </div>

</ion-app>