.nav-arrow {
    background-color: #4AC09D;
    border-radius: 20;
    border-radius: 47px;
    color: white;
    font-weight: bolder;
    padding-left: 15px;
    padding-right: 15px;
}

.completed-tasks {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    color: white;
}
