<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Change password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" [strong]="true">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="formGroup">
    <ion-item>
      <ion-label position="floating">Old password</ion-label>
      <ion-input type="password" formControlName="oldPassword"></ion-input>
      <div *ngIf="formGroup.get('oldPassword')?.hasError('required')">
        <p class="error-message">Old Password is required.</p>
      </div>
      <div *ngIf="formGroup.get('oldPassword')?.hasError('invalidOldPassword')">
        <p class="error-message">Invalid Old Password.</p>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">New password</ion-label>
      <ion-input type="password" formControlName="newPassword"></ion-input>
      <div *ngIf="formGroup.get('newPassword')?.dirty && formGroup.get('newPassword')?.hasError('required')">
        <p class="error-message">New Password is required.</p>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm password</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
      <div *ngIf="formGroup.get('confirmPassword')?.hasError('required')">
        <p class="error-message">Confirm Password is required.</p>
      </div>
      <div *ngIf="formGroup.hasError('passwordMismatch', 'confirmPassword')">
        <p class="error-message">New Password and Confirm Password do not match.</p>
      </div>
    </ion-item>

  </form>
</ion-content>